.compose-area {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.compose-area .err-msg {
    color: red;
}

.compose-area .success-msg {
    color: green;
}

.ad-content .compose-area .title {
    margin: 0.5rem 0 0.5rem 0;
    width: 56rem;
}

.ad-content .text-area {
    margin-top: 1rem;
}

.submit-btn {
    margin: 1rem auto;
    width: fit-content;
}
.ad{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    align-items: center;
    align-self: center;
}
.text-area{
    display: flex;
    align-items: center;
    align-self: center;
}